h2{
    color:blue

}
h1{

    color:white
}


article{

    color:red
}




p{ 

    color:green
}


body{

    background-color:black
}
body{
            margin:0;
            padding:0;
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border:1px red solid;*/
    padding:12px;
}
.artigo-c-imagem{
    display:flex;
    justify-content: space-evenly;     
    align-items: center;



}








